<div ng-controller="pwGenController">  
    <div>
        <label>
            <input type="checkbox" ng-model="capitalizePostSwap" />
            Add post replacement capitalization
        </label>
    </div>
    <div>
        <input id="pw_sentence_input" type="text" ng-model="pwSentence" ng-keydown="generatePw(pwSentence)"/>
        <div id="pw_sentence_btns">
            <input type="button" value="Submit" ng-click="generatePw(pwSentence)" />
            <input type="button" value="clear" ng-click="clearPwForm()" />
        </div>
        <div>
            <div class="inlineInfo">
                <span class="pwLabel">Generated password: </span>
                <span>{{outputPw}}</span>
            </div>
            <div class="pwStrength">
                <span class="pwLabel">Password strength: </span>
                <span>{{pwStrength}}</span>
            </div>
            <div class="inlineInfo">
                <div class="pwLabel">Input sentence: </div>
                <div>{{pwSentence}}</div>
            </div>
        </div>    
    </div>
</div>